<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
        Gifs App
    </h3>
    <hr class="text-white">
    {{gifsList}}
    <div class="list-group list-reset">
        <button class="list-group-item list-group-action mb-1" *ngFor="let tag of tags">
            {{tag | titlecase}}
        </button>
    </div>
</div>