<div class="row p-3">
    <div class="col-12">
        <gifs-search-box></gifs-search-box>
    </div>
    <div class="col-md-3 col-sm-12">
        <gifs-card-list [gif]="gifs" [gifSprites]="gifSprites"></gifs-card-list>
    </div>
</div>