<div class="row p-3">
    <div class="col-12">
        <div class="card mb-2 text-center bg-dark">
            <img [src]="gifSprites.front_default" class="card-img-top">
            <div class="card-body text-white">
                <p class="card-text">
                    {{gif.name | titlecase}}
                </p>
            </div>
        </div>
    </div>
</div>