<div>
    <h5>Buscar: </h5>
    <input type="text" class="form-control" placeholder="Buscar" (keyup.enter)="searchTag()" #txtTagInput>
    <!-- El input comentado es una manera de conseguir el valor del input sin necesidad de hacer un ViewChild -->
    <!-- <input type="text" class="form-control" placeholder="Buscar" (keyup.enter)="searchTag(txtTagInput.value)" #txtTagInput> -->
</div>